*.log
figures*
gypsum.pkl
*.xml
*cache*
*.png
*info*
output*
*.csv
tmp/*
ccps.py
config.py
GLImER.py
.ipynb_checkpoints
examples/database
.vscode
*.pdf
.DS_Store
PyGLImER.egg-info/
.idea/
ccp*.pkl
.coverage