*.log
./figures*
gypsum.pkl
*cache*
*info*
output*
*.csv
tmp/*
ccps.py
config.py
GLImER.py
.ipynb_checkpoints
examples/database
.vscode
*.pdf
.DS_Store
PyGLImER.egg-info/
.idea/
ccp*.pkl
.coverage
examples/tutorials/database_hdf5
examples/tutorials/database_sac
**/tmp/**