# This file contains reuqirements for automatic deployment on CIs
# To obtain install requirements, check setup.cfg or environment.yml
global-land-mask
numpy
OWSLib
colorama
dill
geographiclib
joblib 
matplotlib
obspy
pandas
pathlib
pip
plotly
prov
psutil
pyasdf
scipy
tqdm
flake8
pyyaml
wheel

# requirements that depend on the ones above
# cartopy

# For documentation
sphinx
sphinx_rtd_theme

# For tests
pytest
py